 /* +--------------------------------------------------------------------------+
// 2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: zonepageo.css,v 1.1.2.1 2015-10-02 12:34:08 mramage Exp $ */

/*------------------------------------------------------------------------------------------*/

#container {
	margin: 0 auto;
	width: 990px;
	position: relative;
}
#intro{

}
#main{
	padding: 0px!important;
	margin: 0 0 0px 0px!important;
	/* margin-left: 26%!important; */
	box-sizing: border-box;
	float: right!important;
	width: 74%!important;
}
#bandeau{
    width: 24.5%!important;
    padding: 15px!important;
    margin: 0px 0px 25px 0px!important;
    box-sizing: border-box;
    float: none!important;
}
#bandeau_2{

}